@model IEnumerable<TCC.Agenda.Models.UsuarioModel>

@{
    ViewData["Usuário"] = "Usuário";
}

<h1>Listagem de usuários</h1>

<p>
    <a asp-action="Create"><i class="bi bi-clipboard-plus" title="Adicionar usuário"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bloqueado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bloqueado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UsuarioId"><i class="bi bi-pencil-square" title="Editar"></i></a> |
                <a asp-action="Details" asp-route-id="@item.UsuarioId"><i class="bi bi-folder2-open" title="Detalhes"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.UsuarioId"><i class="bi bi-trash" title="Excluir"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
