@model IEnumerable<TCC.Agenda.Models.TipoDeServicoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalhes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuracaoMinutos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorCobrado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalhes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuracaoMinutos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorCobrado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.EmpresaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TipoDeServicoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TipoDeServicoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TipoDeServicoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
